header {
  height: 58px;
  border-bottom: 1px solid #cdcdcd;
  background: #ddd;
}

header h1 {
  height: 100%;
  padding-left: 10px;
  line-height: 58px;
  font-size: 28px;
  color: #999;
}

.main {
  min-height: 540px;
  height: 100%;
}

.main > article {
  position: relative;
  height: 100%;
}

.main .left {
  float: left;
  width: 229px;
  background: #f2f2f2;
}

.main .center {
  float: left;
  width: 230px;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
}

.main .right {
  margin-left: 461px;
}


/*任务列表部分*/
.category nav {
  height: 104px;
  padding-left: 10px;
}

nav .count {
  height: 30px;
  padding-top: 24px;
  font-weight: 400;
  font-size: 16px;
}

.count + h2 {
  height: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 400;
  font-size: 16px;
}

.category .plans {
  position: absolute;
  top: 104px;
  bottom: 41px;
  width: 100%;
  font-size: 14px;
}

.plans > .item > h3 {
  position: relative;
}

.plans > .item > p {
  position: relative;
  display: none;
}

.plans > .item.selected > p {
  display: block;
}

.plans > .item > h3,
.plans > .item > p {
  height: 28px;
  line-height: 28px;
}

.plans > .item  > h3 {
  padding-left: 25px;
  font-weight: 400;
}

.plans > .item  > p {
  padding-left: 50px;
}

.plans > .item > h3:hover {
  color: deeppink;
}

.plans p:hover {
  background: #fff;
}

.plans p.active {
  background: #ccc;
}

.item .fa-remove {
  position: absolute;
  right: 15px;
  top: 7px;
}

.item .fa-remove:before {
  display: none;
}

.item h3:hover > .fa-remove:before {
  display: block;
}

.item p:hover > .fa-remove:before {
  display: block;
}

article footer {
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  height: 40px;
  width: 100%;
  border-top: 1px solid #cecece;
  padding-left: 36px;
  line-height: 40px;
  font-size: 14px;
  background: #eee;
}


/*任务状态部分*/
.status .tab-index {
  box-sizing: border-box;
  height: 40px;
  padding-left: 10px;
  padding-top: 10px;
  background: #eee;
  border: 1px solid #eee;
}

.tab-index .active {
  background: #fff;
  border-color: #cfcfcf;
}

.tab-index > div {
  display: inline-block;
  padding: 0 10px;
  font-size: 14px;
  cursor: pointer;
}

.tab-index > div:hover {
  background: #fff;
}

.status .tab-item {
  position: absolute;
  top: 41px;
  bottom: 41px;
  width: 100%;
}

.tab-item .item {
  display: none;
  height: 100%;
  font-size: 14px;
}

.item > li > h3 {
  height: 28px;
  padding-left: 20px;
  line-height: 28px;
  font-weight: 600;
  background: #fafcee;
}

.tab-item .item > li p {
  height: 28px;
  padding-left: 40px;
  line-height: 28px;
  letter-spacing: 1px;
  cursor: pointer;
}

.tab-item .current {
  display: block;
}

.item p.finished {
  position: relative;
  color: #338512;
}

.item p.finished > i:before {
  position: absolute;
  left: 15px;
  top: 7px;
}

.tab-item p.active {
  background: #f2f2f2;
} 

.tab-item > .item > li > p:hover {
  background: #f2f2f2;;
}


/*详细部分*/
.detail {
  letter-spacing: 2px;
}

.detail > div {
  position: relative;
  height: 100%;
  font-size: 14px;
}

.plan-view > div,
.plan-edit > div {
  padding-left: 15px;
}

.plan-view .plan-name,
.plan-edit .plan-name {
  height: 52px;
  line-height: 52px;
  font-size: 18px;
  font-weight: 600;
  background: #f2f2f2;
}

.plan-view .plan-date,
.plan-edit .plan-date {
  height: 52px;
  border-top: 1px solid #cecfca;
  border-bottom: 1px solid #cecfca;
  line-height: 52px;
  background: #fafcee;
}

.plan-view .plan-detail,
.plan-edit .plan-detail {
  position: absolute;
  box-sizing: border-box;
  top: 106px;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  font-size: 16px;
}

.plan-view > i,
.plan-edit > i {
  position: absolute;
  top: 12px;
  width: 25px;
  height: 25px;
  font-size: 26px;
}

#check-btn,
#save-btn {
  right: 71px;
}

#edit-btn,
#cancel-btn {
  right: 21px;
}

.plan-edit .plan-name {
  font-size: 14px;
  font-weight: 500;
}

.plan-edit label {
  letter-spacing: 5px;
}


#title-input,
#date-input {
  width: 200px;
  border: 1px solid #ccc;
  padding-left: 5px;
}

input:focus {
  box-shadow: 0 0 30px 10px #ccc;
}

#editor {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
}

.detail .plan-edit {
  display: none;
}

.detail .plan-view {
  /*display: none;*/
}
