.about-me {
  height: 1525px;
  background: #eee;
}

.about-me .wrapper {
  height: 1400px;
  padding-top: 100px;
}

.about-me .wrapper > article {
  float: left;
  height: 100%;
}

.about-me .left {
  width: 495px;
  background: #fff;
}

.about-me .center {
  width: 5px;
  font-size: 20px;
  background: #eee;
}

.about-me .right {
  width: 480px;
  font-size: 14px;
  background: #fff;
}

.left > h2 {
  padding-right: 80px;
  text-align: right;
}

.right > * {
  padding-right: 100px;
  padding-left: 32px;
  text-align: left;
}

.left .name,
.right .introduce {
  padding-top: 135px;
}

.left .phone,
.right .phone-list {
  padding-top: 150px;
}

.left .education,
.right .education-list {
  padding-top: 200px;
}

.left .experience {
  padding-top: 325px;
}

.right .experience-list {
  padding-top: 150px;
}

.right .introduce {
  text-indent: 2em;
}

.center {
  position: relative;
}

.center > div {
  position: absolute;
  width: 100px;
  height: 100px;
  left: -50px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #eee;
}

.center .avatar {
  width: 160px;
  height: 160px;
  top: -60px;
  left: -80px;
  background: url(../img/smile.png) center center no-repeat;
  box-shadow: 0 0 0 10px #eee;
}

.center .phone {
  top: 274px;
  background: url(../img/icon-github.png) center center no-repeat;
  background-color: pink;
}

.center .education {
  top: 492px;
  background: url(../img/icon-github.png) center center no-repeat;
  background-color: pink;
}

.center .experience {
  bottom: 466px;
  background: url(../img/icon-github.png) center center no-repeat;
  background-color: pink;
}

.education-list li,
.experience-list li {
  position: relative;
  margin-bottom: 36px;
  padding-left: 20px;
}

.education-list > li > span,
.experience-list > li > span {
  position: absolute;
  left: -64px;
  width: 59px;
  height: 23px;
  line-height: 23px;
  border-radius: 6px;
  text-align: center;
  font-size: 12px;
  background: #fff;
  box-shadow: 0 0 0 5px #eee;
}
