/*main*/
.main {
  height: 1525px;
  background: #eee;
}

.main .content {
  float: left;
  width: 709px;
  margin-top: 20px;
}

.main .content ~ aside {
  float: left;
  width: 260px;
  margin-left: 10px;
  margin-top: 20px;
}

.content > article {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 369px;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 12px;
  background: #fff;
}

.content > article > h2 {
  padding: 2px 0 0;
  font-size: 16px;
  color: #a660b7;
}

.content > article > h3 {
  padding: 10px 0 20px;
  color: #666;
}

.content > article > p {
  text-indent: 2em;
  line-height: 150%;
}

.content .issue {
  position: absolute;
  right: 24px;
  bottom: 18px;
  color: #999;
}

.content aside {
  position: absolute;
  width: 50px;
  height: 80px;
  left: -50px;
  top: 20px;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  color: #fff;
}

.content aside > p:first-child {
  background: #522a5c;
}

.content aside > p + p {
  background: #a660b7;
}

/*page*/
.content > .pagination {
  width: 578px;
  height: 35px;
  margin: 10px auto;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
}

.pagination > li {
  float: left;
  width: 40px;
  height: 100%;
  background: #fff;
  cursor: pointer;
}

/*(1,8) (2,9)*/
.pagination > li:nth-child(7n+1),
.pagination > li:nth-child(7n+2) {
  width: 70px;
}

.pagination > li + li {
  margin-left: 10px;
}

.pagination > li.active {
  background: #a660b7;
}

.pagination > li.unusable {
  color: #ddd;
  cursor: default;
}

/*引入字体*/
@font-face {
  font-family: awesome;
  src: url('../basis/font/fontawesome-webfont.ttf'),
      url('../basis/font/fontawesome-webfont.eot');
}

aside .search {
  position: relative;
  width: 260px;
  height: 80px;
  background: #fff;
}

.search .fa {
  position: absolute;
  left: 19px;
  top: 19px;
  width: 42px;
  height: 42px;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  font-style: normal;
  color: #e6e6e6;
}

.search .fa-search:before {
  font-family: awesome;
  content: "\f002";
}

.search input[type="text"] {
  box-sizing: border-box;
  margin: 19px;
  width: 170px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid #ddd;
  border-right: none;
  font-size: 12px;
  line-height: 40px;
  text-transform: capitalize;
  color: #999;
}

.search a {
  position: absolute;
  right: 19px;
  top: 19px;
  width: 52px;
  height: 40px;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #eee;
}

.search a:hover {
  background: #a660b7;
}

aside .title-list {
  width: 260px;
  height: 201px;
  margin-top: 10px;
  background: #fff;
}

.title-list > li {
  height: 49px;
  padding-left: 18px;
  border-left: 4px solid #dfc616;
  border-top: 1px solid #ddd;
  line-height: 49px;
  font-size: 14px;
  color: #666;
}

.title-list > li:last-child {
  border-bottom: 1px solid #ddd;
}

.title-list > li:hover {
  border-left-color: #522a5c;
}

/*日历*/
aside .calendar {
  width: 220px;
  height: 190px;
  margin-top: 10px;
  padding: 24px 20px 26px;
  background: #fff;
}

.left-center-right {
  display: grid;
  grid-template-columns: 20px auto 20px;
  font-size: 14px;
  font-weight: 600;
  color: #773c88;
}

.left-center-right span:first-child {
  text-align: right;
  cursor: pointer;
}
.left-center-right span:nth-child(2) {
  text-align: center;
  letter-spacing: 2px;
}
.left-center-right span:last-child {
  text-align: left;
  cursor: pointer;
}

.calendar .date > ul {
  padding-top: 8px;
}

.date li {
  width: 201px;
  height: 33px;
  padding-left: 20px;
  border-bottom: 1px solid #eee;
  font-size: 12px;
}

.date li > span {
  display: inline-block;
  width: 26px;
  height: 20px;
  margin-top: 8px;
  line-height: 20px;
  cursor: pointer;
  color: #999;
}

.date li:nth-child(3) > span:nth-child(2),
.date li:nth-child(3) > span:nth-child(6) {
  color: #773c88;
  font-weight: 600;
}

.date li > span:hover {
  color: #fff !important;
  background: #773c88;
}

aside > .tags {
  position: relative;
  width: 260px;
  height: 197px;
  margin-top: 10px;
  background: #fff;
}

.tags > span:first-child {
  position: absolute;
  left: 16px;
  top: 13px;
  font-size: 14px;
  color: #666;
}

.tags > div {
  padding-top: 50px;
  padding-left: 16px;
}

.tags > div > span {
  color: #773c88;
}

.tags > div > span:nth-child(5n+1) {
  font-size: 32px;
}

.tags > div > span:nth-child(2n) {
  font-size: 20px;
}

.tags > div > span:nth-child(3n) {
  font-size: 12px;
}
