/**
 * resest
 * ===================================================
 */
html * {margin: 0; padding: 0;}
ul {list-style: none;}
a {text-decoration: none; color: #fff;}

/**
 * common
 * ===================================================
 */
.clearfix:after {
  display: block;
  content: "";
  height: 0;
  visibility: hidden;
  clear: both;
}

@media screen and (max-width: 980px) {
  /*头部和banner 出现空白背景，已处理*/
  body {
    width: 980px;
    overflow: scroll;
  }

  header .github-icon {
    display: none;
  }
}

/*版心*/
.wrapper {
  width: 980px;
  margin: 0 auto;
  height: 100%;
}

/*header*/
header {
  position: relative;
  height: 80px;
  color: #fff;
  background: #522a5c;
}

header > .wrapper {
  position: relative;
}

header .logo {
  position: absolute;
  bottom: 5px;
  font-size: 24px;
}

header > .github-icon {
  position: absolute;
  right: 5px;
  bottom: 0;
  width: 30px;
  height: 34px;
  background: url(../img/icon-github.png) center center no-repeat;
}

.header-nav {
  position: absolute;
  bottom: 5px;
  right: 0;
}

.header-nav > ul > li {
  float: left;
  font-family: "SimSun";
  font-size: 14px;
}

.header-nav > ul > li + li {
  margin-left: 28px;
}

/*footer*/
footer {
  position: relative;
  height: 394px;
  color: #fff;
  background: #000;
}

.footer-nav {
  position: relative;
  height: 35px;
  border-bottom: 1px solid #333;
  /*text-align: center*/
}

.footer-nav > ul {
  /*display: inline-block;*/
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.footer-nav > ul > li {
  float: left;
  line-height: 35px;
  font-size: 14px;
}

.footer-nav > ul > li + li {
  margin-left: 25px;
}

footer .wrapper {
  height: 317px;
  width: 740px;
  padding-top: 42px;
}

footer dl[class$="link"] {
  float: left;
  width: 100px;
  text-align: center;
  text-transform: uppercase;
}

footer dl + dl {
  margin-left: 60px;
}

footer dl > dt {
  font-size: 14px;
  padding-bottom: 32px;
  color: #ccc;
}

footer dl > dd {
  font-size: 12px;
}

footer dl[class$="link"] a:hover {
  text-decoration: underline;
}

footer .copyright {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 12px;
  /*text-align: center;*/
}

.copyright > p {
  padding-bottom: 20px;
}

.copyright .copyright-logo {
  display: block;
  /*margin: 0 auto; 更直接*/
  text-align: center;
  font-size: 0;
}
