/*gallery*/
.gallery {
  height: 810px;
  padding-bottom: 50px; /*为了留空白，视觉效果*/
  background: #eee;
}

.gallery .left {
  float: left;
  width: 710px;
  height: 790px;
  margin-top: 20px;
}

.gallery .right {
  float: left;
  width: 260px;
  height: 330px;
  margin-left: 10px;
  margin-top: 70px;
}

/*left, tab*/
.left .tab {
  position: relative;
  height: 730px;
  background: #eee;
}

.tab > li {
  float: left;
  height: 11px;
  padding: 15px 20px 20px;
  border-top: 4px solid;
  /*border-style: solid; 这个写法有问题*/
  border-bottom: 1px solid #eee; 
  font-size: 16px;
  background: #fff;
}

.tab > li + li {
  border-left: 1px solid #eee; 
}

.tab > li:first-child {
  border-top-color: #dfc6e6;
}

.tab > li:nth-child(2) {
  border-top-color: pink;
}

.tab > li:nth-child(3) {
  border-top-color: #5900b2;
}

.tab > li:nth-child(4) {
  border-top-color: #8c2300;
}

.tab > li:last-child {
  border-top-color: #d9a300;
}

.tab > li:hover {
  border-top-color: #522a5c;
  border-bottom: 1px solid #fff; 
}

.tab .content {
  box-sizing: border-box;
  position: absolute;
  /*display: none;*/
  left: 0;
  top: 51px;
  width: 710px;
  height: 679px;
  padding: 20px;
  background: #fff;
}

.tab .content.active {
  z-index: 1;
  /*display: block;*/
}


.tab > li:hover > .content {
  z-index: 2;
  /*display: block;*/
}

/*第一个 tab 标签页，demo*/
.active {
  -moz-column-count: 2;
  column-count: 2;
  -moz-column-gap: 10px;
  column-gap: 10px;
  /*column-width: 50%;*/
  /*column-span: none;*/
  /*break-inside: avoid;*/
  column-fill: auto;
}

.active > div {
  color: #fff;
}

.active img {
  display: block;
  width: 100%;
  height: 100px;
}

.active .desc {
  position: relative;
  box-sizing: border-box;
  padding-top: 12px;
  padding-left: 50px;
}

.active .desc > h2 {
  font-size: 14px;
  margin-bottom: 5px;
}

.active .desc > p {
  font-size: 12px;
}

.active span {
  position: absolute;
  left: 10px;
  top: 11px;
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  border-radius: 50%;
  line-height: 25px;
  text-align: center;
}

.active .item2,
.active .item3 {
  margin-top: 10px;
}

/*分组1*/
.column-left .special {
  height: 220px;
  width: 330px;
  margin-bottom: 10px;
}

.column-left .special img {
  height: 151px;
}

.column-left .special .desc {
  height: 70px;
  background: #522a5c;
}

.column-left .group2 .item1 {
  height: 205px;
  width: 160px;
}

.special ~ .group {
  -moz-column-count: 2;
  column-count: 2;
  column-gap: 10px;
  column-fill: auto;
}

.column-left .group1 .item1 .desc {
  height: 105px;
  background: #d9a300;
}

.column-left .group1 .item2 {
  height: 163px;
  width: 160px;
}

.column-left .group1 .item2 .desc {
  height: 63px;
  background: #522a5c;
}

.column-left .group2 .item1 {
  height: 185px;
  width: 160px;
}

.column-left .group2 .item1 .desc {
  height: 85px;
  background: #8c2300;
}

.column-left .group2 .item2 {
  height: 205px;
  width: 160px;
}

.column-left .group2 .item2 .desc {
  height: 105px;
  background: #5900b2;
}

/*分组2*/
.column-right {
  column-count: 2;
  column-gap: 10px;
  column-fill: auto;
}

.column-right .group1 .item1 {
  height: 185px;
  width: 160px;
}

.column-right .group1 .item1 .desc {
  height: 85px;
  background: #5900b2;
}

.column-right .group1 .item2 {
  height: 205px;
  width: 160px;
}

.column-right .group1 .item2 .desc {
  height: 105px;
  background: #522a5c;
}

.column-right .group1 .item3 {
  height: 185px;
  width: 160px;
}

.column-right .group1 .item3 .desc {
  height: 85px;
  background: #d9a300;
}

.column-right .group2 .item1 {
  height: 205px;
  width: 160px;
}

.column-right .group2 .item1 .desc {
  height: 105px;
  background: #d9a300;
}

.column-right .group2 .item2 {
  height: 255px;
  width: 160px;
}

.column-right .group2 .item2 .desc {
  height: 155px;
  background: #8c2300;
}

/*加载更多*/
@font-face {
  font-family: awesome;
  src: url('../basis/font/fontawesome-webfont.ttf'),
      url('../basis/font/fontawesome-webfont.eot');
}

.more {
  height: 50px;
  margin-top: 10px;
  line-height: 50px;
  font-size: 14px;
  text-align: center;
  background: #fff;
}

.more > a {
  display: inline-block;
  /*就这样吧，要不就 absolute 精确定位，控制字体大小*/
  color: #666;
}

.more .fa {
  font-style: normal;
  color: #ccc;
}

.fa-angle-double-down:before {
  font-family: awesome;
  content: "\f103";
}

/*right search*/
.search {
  position: relative;
  width: 260px;
  height: 80px;
  background: #fff;
}

.search >.fa {
  position: absolute;
  left: 19px;
  top: 19px;
  width: 42px;
  height: 42px;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  font-style: normal;
  color: #e6e6e6;
}

.search > .fa-search:before {
  font-family: awesome;
  content: "\f002";
}

.search > input[type="text"] {
  margin: 20px;
  width: 127px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid #000;
  border-right: none;
  font-size: 12px;
  line-height: 40px;
  text-transform: capitalize;
  color: #333;
}

.search > a {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 40px;
  border: 1px solid #000;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #999;
}

.search > a:hover {
  background: pink;
}

.ranking {
  width: 234px;
  height: 200px;
  padding: 20px 13px;
  margin-top: 10px;
  background: #fff;
}

.ranking > h2 {
  font-size: 14px;
  color: #666;
}

.ranking > ol {
  padding-top: 26px;
  list-style: none;
}

.ranking li {
  height: 18px;
  margin-bottom: 12px;
  line-height: 18px;
  font-size: 14px;
}

.ranking li > span {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background: #522a5c;
}

.ranking li > div {
  display: inline-block;
  position: relative;
  top: 4px;
  width: 102px;
  height: 18px;
  margin-right: 11px;
  margin-left: 12px;
  border: 1px solid #522a5c;
}

.ranking li > div > span {
  position: absolute;
  height: 18px;
  left: 0;
  top: 0;
  background: #522a5c;
}

.ranking li:first-child > div > span {
  width: 102px;
}

.ranking li:nth-child(2) > div > span {
  width: 87px;
}

.ranking li:nth-child(3) > div > span {
  width: 68px;
}

.ranking li:nth-child(4) > div > span {
  width: 42px;
}

.ranking li:last-child > div > span {
  width: 27px;
}
